<%- include('partials/header.ejs') %>



<div class="container card shadow p-5 mb-5 blurred rounded register">
        <h1>Profile</h1>        
            <form action="/profile?_method=PUT" method="POST">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <div class="form-group">
                            <label for="username">Username*</label>
                            <input type="text" class="form-control" id="username" name='username' placeholder="Username" minlength="5" maxlength="15" value="<%= chemist.username %>" disabled = "true"  required>
                        </div>
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input type="text" class="form-control" id="location" name='location' placeholder="Location" value="<%= chemist.location %>" disabled = "true">
                        </div>
                        <div class="form-group">
                            <label for="department">Department</label>
                            <input type="text" class="form-control" id="department" name='department' placeholder="Department" value="<%= chemist.department %>" disabled = "true">
                        </div>
                        
                        <div class="edit-delete-btns d-flex">
                        
                                <button class="btn btn-warning" href="">Edit</button>
                           
                         
                                <form action="" method="POST">
                                    <input type="submit" class ="btn btn-danger" value="Delete">
                                </form>
                           
                    
                        </div>
                         
                    </div>    
                    <div class="col-md-6 form-group">
                        <div class="form-group">
                            <label for="email">Email*<div class="validation" id="email-validation"></div></label>
                            <input type="text" class="form-control" id="email" name='email' placeholder="Email" value="<%= chemist.email %>"  required>
                        </div>   
                        <div class="form-group">
                            <label for="current-password">Current Password*</label>
                            <input type="password" class="form-control" id="current-password" name='currentPassword' placeholder="Current password" required>
                        </div>
                        <div class="form-group">
                            <label for="new-password">Change Password</label>
                            <input type="password" class="form-control" id="new-password" name='newPassword' placeholder="New password" >
                        </div>                             
                        <div class="form-group">
                            <label for="new-password-confirm">Confirm Password <div class="validation" id="pass-validation"></div></label>
                            <input type="password" class="form-control" name="confirmation" id="new-password-confirm" placeholder="New password">
                        </div>                             
                    </div>
                    


                </div>
               
                    
                    <button type="submit" class="btn btn-info submit-btn" id="submit-btn">Submit</button>
                </div>
                
            </form>
            <div class="container card shadow blurred">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Recent results:</h2>
                    <% results.forEach(function(result) { %>
                        <div>
                            <a href="/results/<%= result.id %>"><%= result.lotNumber%></a>
                        </div>
                    <% }); %>
                    </div>
                </div>
            </div>
            
</div>
<script src="/javascripts/validation.js"></script>
<%- include('partials/footer.ejs') %>
