<%- include('../partials/header.ejs') %>

<h1>Edit Result</h1>

<form action="/results/<%= result.id %>?_method=PUT" method="POST">
    <label for="lot-number">Lot Number</label>
    <input type="text" id="lot-number" name="result[lotNumber]" value="<%= result.lotNumber  %>">
    <label for="chemical-formula">Chemical Formula</label>
    <input type="text" id="chemical-formula" name="result[chemicalFormula]" value="<%= result.chemicalFormula %>">
    <label for="actual-result">Actual Result</label>
    <input type="text" id="actual-result" name="result[actualResult]" value="<%= result.actualResult %>">
    <label for="calculated-result">Calculated Result</label>
    <input type="text" id="calculated-result" name="result[calculatedResult]" value="<%= result.calculatedResult %>">
    <label for="percentage-purity">Percentage Purity</label>
    <input type="text" id="percentage-purity" name="result[percentagePurity]" value="<%= result.percentagePurity %>">
    <label for="impurities">impurities</label>
    <input type="text" id="impurities" name="result[impurities]" value="<%= result.impurities %>">
    <!-- <label for="author">Author</label>
    <input type="text" id="author" name="author"> -->
    <label for="notes">Notes</label>
    <textarea name="result[notes]" id="notes"><%= result.notes %></textarea>
    <input type="submit">

</form>



<%- include('../partials/footer.ejs') %>