<%- include('../partials/header.ejs') %>

    <div class="card blurred">
        <div class="row">
            <div class="col-6">
                <h1>Results</h1>
            </div>
            <div class="col-6">
                <form action="/results" method="GET">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="search" name="search" placeholder="Search by Lot Number" value="<%= queryString %>" aria-label="Search by Lot Number" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-info" type="submit" id="button-addon2">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



<% results.docs.forEach(function(result){ %>
<div class="card shadow p-3 mb-5 blurred rounded">
    <ul>
        <li>Lot Number: <%= result.lotNumber %></li>
        <li>Chemical Formula: <%= result.chemicalFormula %> </li>
        <li>Actual Result: <%= result.actualResult %></li>
        <li>Calculated Result: <%= result.calculatedResult %></li>
        <li>Percentage Purity: <%= result.percentagePurity %></li>
        <li>Impurities: <%= result.impurities %></li>
        <div><a class="button" href="/results/<%= result.id %>">View</a></div>
    </ul>
</div>

<% }); %>

<% if(results.docs.length && results.pages > 1) { %>
<div class="card pages" style = "margin: 20px 0">
    <% if (results.page - 1) { %>
        <a href="/results?page=<%= results.page - 1 %><%= queryString %>">Prev</a>
    <% } %>
    <% if(results.pages > 1 && results.docs.length) { %>
    <% for(let i = 1; i <= results.pages; i++){ %>
        <a href="/results?page=<%= i %><%= queryString %>"
            <%= i === results.page ? 'style=color:#000; ' : '' %>
            ><%= i %></a>
    <% } %>
    <% } %>
    <% if (results.page + 1 <= results.pages) { %>
        <a href="/results?page=<%= results.page + 1 %><%= queryString %>">Next</a>
    <% } %>
</div>
<% } else if (results.pages < 1) { %>
<% } else if (!results.docs.length){ %>
    <div class="card shadow p-3 mb-5 blurred rounded">
        <h3>No Results Found</h3>
    </div    
<% } %>


<%- include('../partials/footer.ejs') %>