<%- include('../partials/header.ejs') %>
<!-- need to do forEach -->
<h1>Results</h1>
<ul>
    <li>Lot Number: <%= %></li>
    <li>Chemical Formula: <%= %> </li>
    <li>Actual Result: <%= %></li>
    <li>Calculated Result: <%= %></li>
    <li>Percentage Purity: <%= %></li>
    <li>Impurities: <%= %></li>
    <li>Author: <%= %></li>
</ul>



<%- include('../partials/footer.ejs') %>