<%- include('../partials/header.ejs') %>
<!-- need to do forEach -->
<h1>Results</h1>

<% results.forEach(function(result){ %>
<div>
    <ul>
        <li>Lot Number: <%= result.lotNumber %></li>
        <li>Chemical Formula: <%= result.chemicalFormula %> </li>
        <li>Actual Result: <%= result.actualResult %></li>
        <li>Calculated Result: <%= result.calculatedResult %></li>
        <li>Percentage Purity: <%= result.percentagePurity %></li>
        <li>Impurities: <%= result.impurities %></li>
        <!-- <li>Author: <%= %></li> -->
    </ul>
</div>

<% }); %>




<%- include('../partials/footer.ejs') %>