<%- include('../partials/header.ejs') %>

<h1>Result</h1>
<ul>
    <li>Lot Number: <%= result.lotNumber %></li>
    <li>Chemical Formula: <%= result.chemicalFormula %> </li>
    <li>Actual Result: <%= result.actualResult %></li>
    <li>Calculated Result: <%= result.calculatedResult %></li>
    <li>Percentage Purity: <%= result.percentagePurity %></li>
    <li>Impurities: <%= result.impurities %></li>
    <!-- <li>Author: <%= %></li> -->
</ul>



<%- include('../partials/footer.ejs') %>
