<%- include('../partials/header.ejs') %>

<div class="container card blurred">
    <div>
        <h1>Result</h1>
<ul>
    <li>Lot Number: <%= result.lotNumber %></li>
    <li>Chemical Formula: <%= result.chemicalFormula %> </li>
    <li>Actual Result: <%= result.actualResult %></li>
    <li>Calculated Result: <%= result.calculatedResult %></li>
    <li>Percentage Purity: <%= result.percentagePurity %>%</li>
    <li>Impurities: <%= result.impurities %></li>
    <li>Notes: <%= result.notes %></li>
    <li>Author: <%= result.author[0].username %></li>
</ul>
    </div>
    
<div class="edit-delete-btns d-flex">
    <div>
        <a class="btn btn-info" href="/results">Back</a>
    </div>
    <div>
        <a class="btn btn-warning" href="/results/<%= result.id %>/edit">Edit</a>
    </div>
    <div>
        <form action="/results/<%= result.id %>?_method=DELETE" method="POST">
            <input type="submit" class ="btn btn-danger" value="Delete">
        </form>
        
    </div>
    
</div>

</div>


<%- include('../partials/footer.ejs') %>
